html, body {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  display: flex;
}

.todos-root {
  flex: 1;
  max-width: 500px;
}

.todos-root > h1 {
  text-align: center;
  text-transform: uppercase;
}

.todos-header {
  display: flex;
  justify-content: stretch;
}

.todos-header > input[type="checkbox"],
.todo-item > input[type="checkbox"] {
  flex-shrink: 1;
  margin: 8px;
}

.todos-header > input[type="text"],
.todo-item .todo-content {
  flex-grow: 1;
  width: auto;
  border: none;
  padding: 8px;
  font-size: 18px;
  font-weight: normal;
  font-family: monospace;
}

.todos-list {
  list-style: none;
  padding: 0;
  margin: 0; 
}

